<p id="notice"><%= notice %></p>

<p>
  <strong>Key:</strong>
  <%= @swift_api_key.key %>
</p>

<%= link_to 'Edit', edit_swift_api_key_path(@swift_api_key) %> |
<%= link_to 'Back', swift_api_keys_path %>
